<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - ETL

Estimated time needed: **20** minutes

## Objectives

In this final part you will:

-   Run the ETL process
-   Extract bank and market cap data from the JSON file `bank_market_cap.json`
-   Transform the market cap currency using the exchange rate data
-   Load the transformed data into a seperate CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
!pip install glob
!pip install pandas
!pip install requests
!pip install datetime

ERROR: Could not find a version that satisfies the requirement glob (from versions: none)
ERROR: No matching distribution found for glob
WARNING: You are using pip version 20.2.2; however, version 21.1.1 is available.
You should consider upgrading via the 'c:\python 3.7\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: pandas in c:\python 3.7\lib\site-packages (1.1.0)
Requirement already satisfied: pytz>=2017.2 in c:\python 3.7\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\python 3.7\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in c:\python 3.7\lib\site-packages (from pandas) (1.19.1)
Requirement already satisfied: six>=1.5 in c:\python 3.7\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

WARNING: You are using pip version 20.2.2; however, version 21.1.1 is available.
You should consider upgrading via the 'c:\python 3.7\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: requests in c:\python 3.7\lib\site-packages (2.24.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\python 3.7\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\python 3.7\lib\site-packages (from requests) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\python 3.7\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\python 3.7\lib\site-packages (from requests) (1.25.10)

WARNING: You are using pip version 20.2.2; however, version 21.1.1 is available.
You should consider upgrading via the 'c:\python 3.7\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: datetime in c:\python 3.7\lib\site-packages (4.3)

WARNING: You are using pip version 20.2.2; however, version 21.1.1 is available.
You should consider upgrading via the 'c:\python 3.7\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: zope.interface in c:\python 3.7\lib\site-packages (from datetime) (5.4.0)
Requirement already satisfied: pytz in c:\python 3.7\lib\site-packages (from datetime) (2020.1)
Requirement already satisfied: setuptools in c:\python 3.7\lib\site-packages (from zope.interface->datetime) (39.0.1)

## Imports

Import any additional libraries you may need here.

In [2]:
import glob
import pandas as pd
from datetime import datetime

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [3]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

'wget' is not recognized as an internal or external command,
operable program or batch file.
'wget' is not recognized as an internal or external command,
operable program or batch file.
'wget' is not recognized as an internal or external command,
operable program or batch file.

## Extract

### JSON Extract Function

This function will extract JSON files.

In [4]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

## Extract Function

Define the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Store the data in a `pandas` dataframe. Use the following list for the columns.

In [5]:
columns=['Name','Market Cap (US$ Billion)']

In [6]:
def extract():
    # Write your code here
    data = pd.DataFrame(columns=columns)
    for file in glob.glob("*.json"):
        data = data.append(extract_from_json(file), ignore_index=True)
    data["Market Cap (US$ Billion)"] = data["Market Cap (US$ Billion)"].astype(float)
    return data
data = extract()
data.head()

                                       Name  Market Cap (US$ Billion)
0                            JPMorgan Chase                   390.934
1   Industrial and Commercial Bank of China                   345.214
2                           Bank of America                   325.331
3                               Wells Fargo                   308.013
4                   China Construction Bank                   257.399

<b>Question 1</b> Load the file <code>exchange_rates.csv</code> as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>, you will be asked for the number. Hint: set the parameter  <code>index_col</code> to 0.

In [7]:
# Write your code here
df = pd.read_csv("exchange_rates.csv",index_col=[0])
exchange_rate = df.loc["GBP","Rates"]
exchange_rate

0.8613209999999999

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file find the exchange rate of USD to GBP. Write a transform function that

1.  Changes the `Market Cap (US$ Billion)` column from USD to GBP
2.  Rounds the Market Cap (US$ Billion)` column to 3 decimal places
3.  Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [8]:
def transform(data):
    # Write your code here
    data = data.rename({"Market Cap (US$ Billion)":"M"}, axis = "columns") 
    data["M"] = round(data.M*exchange_rate,3)
    data = data.rename({"M":"Market Cap (GBP$ Billion)"}, axis="columns")
    return data
transform(data).head()

                                       Name  Market Cap (GBP$ Billion)
0                            JPMorgan Chase                    336.720
1   Industrial and Commercial Bank of China                    297.340
2                           Bank of America                    280.214
3                               Wells Fargo                    265.298
4                   China Construction Bank                    221.703

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

In [9]:
def load(data_to_load):
    # Write your code here
    data_to_load.to_csv("bank_market_cap_gbp.csv")

## Logging Function

Write the logging function <code>log</code> to log your data:

In [10]:
def log(message):
    # Write your code here
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

## Running the ETL Process

Log the process accordingly using the following <code>"ETL Job Started"</code> and <code>"Extract phase Started"</code>

In [11]:
# Write your code here
log("ETL Job Started")
log("Extract phase Started")

### Extract

<code>Question 2</code> Use the function <code>extract</code>, and print the first 5 rows, take a screen shot:

In [12]:
# Call the function here
extracted_data = extract()
# Print the rows here
extracted_data

                                        Name  Market Cap (US$ Billion)
0                             JPMorgan Chase                   390.934
1    Industrial and Commercial Bank of China                   345.214
2                            Bank of America                   325.331
3                                Wells Fargo                   308.013
4                    China Construction Bank                   257.399
..                                       ...                       ...
65                              Ping An Bank                    37.993
66                        Standard Chartered                    37.319
67                      United Overseas Bank                    35.128
68                                 QNB Group                    33.560
69                               Bank Rakyat                    33.081

[70 rows x 2 columns]

Log the data as <code>"Extract phase Ended"</code>

In [13]:
# Write your code here
log("Extract phase Ended")

### Transform

Log the following  <code>"Transform phase Started"</code>

In [14]:
# Write your code here
log("Transform phase Started")

<code>Question 3</code> Use the function <code>transform</code> and print the first 5 rows of the output, take a screen shot:

In [15]:
# Call the function here
transformed_data = transform(extracted_data)
# Print the first 5 rows here
transformed_data.head()

                                       Name  Market Cap (GBP$ Billion)
0                            JPMorgan Chase                    336.720
1   Industrial and Commercial Bank of China                    297.340
2                           Bank of America                    280.214
3                               Wells Fargo                    265.298
4                   China Construction Bank                    221.703

Log your data <code>"Transform phase Ended"</code>

In [16]:
# Write your code here
log("Transform phase Ended")

### Load

Log the following `"Load phase Started"`.

In [17]:
# Write your code here
log("Load phase Started")

Call the load function

In [18]:
# Write your code here
load(transformed_data)

Log the following `"Load phase Ended"`.

In [19]:
# Write your code here
log("Load phase Ended")

## Authors

Ramesh Sannareddy, Joseph Santrcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork-23455645&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork-23455645&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).